.block {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 25%;
	position: relative;
}
.blockAdaptive{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 25%;
	position: relative;
}
.blockHeader {
	margin: 30px 0 10px 0px;
	width: 100%;
	position: relative;
	display: flex;
	gap: 20%;
	padding: 0 20px;
}

.blockHeaderAdd {
 justify-self: center;
}
.blockHeaderAdd_btn:hover{
	color: #a0a0a0;
}

.blockContentAdd{
	display: none;
}
.listContent {
	width: 100%;
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	overflow-y: scroll;
	padding: 0 10px;
}
.listContentShow{
	width: 100%;
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	overflow-y: scroll;
	padding: 0 10px;
}

.listContent::-webkit-scrollbar {
	width: 3px;
	margin-left: 20px;
}
.listContent::-webkit-scrollbar-thumb {
	background-color:#c2bfbfa9;
	border-radius: 20px;
	border: 3px solid #0000002b;
}
.listContentShow::-webkit-scrollbar {
	width: 3px;
	margin-left: 20px;
}
.listContentShow::-webkit-scrollbar-thumb {
	background-color:#c2bfbfa9;
	border-radius: 20px;
	border: 3px solid #0000002b;
}

.listContentItems {
	width: 100%;
	height: 100%;
}

@media (max-width:768px) {
	.block {
		width: fit-content;
		flex-direction: row;
		position: relative;
		margin: 10px 0;
		width: 50px;
	}
	.blockAdaptive{
		width: fit-content;
		flex-direction: row;
		position: relative;
		margin: 10px 0;
		display: flex;
		align-items: center;
	}

	.blockHeader {
		display: flex;
		align-items: center;
		justify-content: center;
		width: fit-content;
		border: 1px solid #000000a9;
		background-color: #ffffff;
		border-radius: 20px;
		margin: 10px 0;
		z-index: 10;
		height: 100%;
		width: 50px;
	}
	.blockHeaderAddHide{
		display: none;
	}
	.blockContentAdd{
		display: block;
		background-color: #ffffff;
		/* margin-bottom: 5px; */
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		z-index: 10;
	}
	.blockHeaderAdd{
		display: flex;
		justify-content: center;
	}
	.blockHeaderRotate{
		transform: rotate(270deg);
	}
	.blockHeaderTitle {
		padding: 10px 0;
		white-space: nowrap;
	}

	.listContentShow {
		transition: all 0.5s;
		transform: translateX(0);
		margin-left: 20px;
		height: -webkit-fill-available;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: calc(100% - 30px);
		z-index: 1;
		overflow-y: hidden;
		width: 50vw;
	}

	.listContent {
		transform: translateX(-200%);
		height: 0;
		width: 0;
		transition: all 0.5s;
		z-index: 1;
		overflow-y: hidden;
	}

	.listContentItems {
		width: 100%;
		height: 100%;
		overflow-y: scroll;
		padding: 0 5px 0 0;
	}
	.listContentItems::-webkit-scrollbar {
		width: 3px;
		margin-left: 20px;
	}
	.listContentItems::-webkit-scrollbar-thumb {
		background-color:#c2bfbfa9;
		border-radius: 20px;
		border: 3px solid #0000002b;
	}
}

@media (max-width:576px) {
	.block {
		width: 100%;
		flex-direction: column;
		position: relative;
	}
	.blockAdaptive{
		width: 100%;
		flex-direction: column;
		position: relative;
	}
	.blockHeader {
		width: 100%;
		height: -moz-fit-content;
		height: fit-content;
		z-index: 10;
	}
	.blockHeaderRotate{
		transform: rotate(0deg);
	}
	.blockHeaderTitle {
		padding: 10px 0;
		white-space: nowrap;
	}

	.listContentShow {
		height: calc(100vh - 500px);
		width: calc(100% - 30px);
		margin: 0;
	}

	.listContent {
		transform: translateY(-200%);
		height: 0;
		width: 100%;
		transition: all 0.5s;
		z-index: 1;
		overflow-y: hidden;
	}

	.listContentItems {
		width: 100%;
		height: 100%;
		overflow-y: scroll;
	}

	.blockHeaderAdd {
		padding: 0;
	}
}
@media (max-height:650px) and (max-width:576px){
	.listContentShow {
		min-height: 10vh;
		height: fit-content;
		max-height: 50vh;
		width: calc(100%);
		margin: 0;
	}
}