.ModalContent {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.7);
	left: 0;
	top: 0;
	z-index: 10;
}

.ModalAdd {
	background-color: #FFFFFF;
	width: 70vw;
	max-width:700px;
	/* height: 40vh; */
	height: fit-content;
	max-height: fit-content;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	border: 1px solid #000000a9;
	border-radius: 20px;
	padding: 20px;
}

.active {
	display: block;
}

.ModalContentContainer {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	position: relative;
}
.ModalClose{
	position: absolute;
	right: 10px;
	top: 0;
}

.ModalTitle {
	margin-top: 20px;
}

.ModalContentInputs {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.ModalRadioInput {
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: space-between;
	margin: 15px 0;
}

.ModalRadioItem {
	display: flex;
	flex-direction: column;
	position: relative;
	/* height: 60px; */
}

input[id="normal"]:checked::after {
	content: '';
	position: absolute;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #E9E9E9;
	transform: translate(-50%, -50%);
	visibility: visible;
	left: 50%;
	top: 84%;
}

input[id="high"]:checked::after {
	content: '';
	position: absolute;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #A8E4A0;
	transform: translate(-50%, -50%);
	visibility: visible;
	left: 50%;
	top: 84%;
}

input[id="urgent"]:checked::after {
	content: '';
	position: absolute;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #FFFF99;
	transform: translate(-50%, -50%);
	visibility: visible;
	left: 50%;
	top: 84%;
}

input[id="instant"]:checked::after {
	content: '';
	position: absolute;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #E2504B;
	transform: translate(-50%, -50%);
	visibility: visible;
	left: 50%;
	top: 84%;
}

.ModalRadioLabel {
	padding-bottom: 6px;
}

.ModalHeaderInput {
	padding: 15px 20px;
	/* background: #B1E7AA; */
	background: #99958c13;
	border-radius: 20px;
}

.ModalDescription {
	display: flex;
	flex-direction: column;
}

.ModalDescriptionInput {
	width: 100%;
	height: 100%;
	border-radius: 20px;
	padding: 15px 20px 30px 20px;
	background: #99958c13;
	word-break: break-all;
	max-width: 500px;
	max-height: 200px;
	height: 23vh;
	width: 39vw;
	resize: none;
	outline: none

}

.ModalAddCard {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

@media (max-width:768px) {
	.ModalAdd {
		background-color: #FFFFFF;
		width: calc(100% - 20px);
		max-width:none;
		/* height: 40vh; */
		height: calc(100% - 20px);
		max-height: fit-content;
		margin: auto;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		border: 1px solid #000000a9;
		border-radius: 20px;
		padding: 20px;
	}
	.ModalContentContainer {
		justify-content: space-evenly;
	}
	.ModalRadioInput{
		margin: 10% 0;
	}
	.ModalContentInputs {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.ModalHeader{
		width: 100%;
	}
	.ModalHeaderInput{
		width: 100%;
	}
	.ModalDescriptionInput {
		width: 100%;
		height: 100%;
		border-radius: 20px;
		padding: 15px 20px 30px 20px;
		background: #99958c13;
		word-break: break-all;
		height: 23vh;
		width: 39vw;
		max-width: none;
		max-height: none;
		resize: none;
		outline: none

	}
}
@media (max-width:576px) {
	.ModalRadioInput{
		margin: 5% 0;
		display: flex;
		flex-direction: column;
	}
	.ModalDescription {
		width: 100%;
	}
	.ModalDescriptionInput {
		width: 100%;
		height: 100%;
		border-radius: 20px;
		padding: 15px 20px 30px 20px;
		background: #99958c13;
		word-break: break-all;
		height: 23vh;
		width: 100%;
		max-width: none;
		max-height: none;
		resize: none;
		outline: none

	}
	.ModalRadioItem {
		flex-direction: row;
		align-items: center;
		width: 20%;
		min-width: 100px;
		justify-content: space-between;
	}
	input[id="normal"]:checked::after {
		content: '';
		position: absolute;
		width: 15px;
		height: 15px;
		border-radius: 50%;
		background-color: #E9E9E9;
		transform: translate(-50%, -50%);
		visibility: visible;
		left: 94%;
		top: 50%;
  
	}
	
	input[id="high"]:checked::after {
		content: '';
		position: absolute;
		width: 15px;
		height: 15px;
		border-radius: 50%;
		background-color: #A8E4A0;
		transform: translate(-50%, -50%);
		visibility: visible;
		left: 94%;
		top: 50%;
  
	}
	
	input[id="urgent"]:checked::after {
		content: '';
		position: absolute;
		width: 15px;
		height: 15px;
		border-radius: 50%;
		background-color: #FFFF99;
		transform: translate(-50%, -50%);
		visibility: visible;
		left: 94%;
		top: 50%;
  
	}
	
	input[id="instant"]:checked::after {
		content: '';
		position: absolute;
		width: 15px;
		height: 15px;
		border-radius: 50%;
		background-color: #E2504B;
		transform: translate(-50%, -50%);
		visibility: visible;
		left: 94%;
		top: 54%;
	}
}
@media (max-height:576px) and (max-width:768px){
	.ModalRadioInput{
		margin: 1% 0;
		display: flex;
		flex-direction: column;
	}
}