.ModalContent {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.7);
	left: 0;
	top: 0;
	z-index: 10;
}

.ModalAdd {
	width: 70vw;
	max-width: 700px;
	height: fit-content;
	overflow: auto;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background-color: #FFFFFF;
	border: 1px solid #000000a9;
	border-radius: 20px;
	padding: 20px; 
}

.active {
	display: block;
}

.ModalContentContainer {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	position: relative;
}
.ModalClose{
	position: absolute;
	right: 10px;
	top: 0;
}

.ModalTitle {
	margin: 3% 0;
}

.ModalContentInputs {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.ModalRadioInput {
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: space-between;
	margin: 15px 0;
}
.ModalRadioItems{
	padding-left: 10%;
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.ModalRadioItem {
	display: flex;
	flex-direction: column;
	position: relative;
	/* height: 60px; */
}
.ModalRadioItem :hover{
	color: #666;
}

input[id="normal"]:checked::after {
	content: '';
	position: absolute;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #E9E9E9;
	transform: translate(-50%, -50%);
	visibility: visible;
	left: 50%;
	top: 84%;
}

input[id="high"]:checked::after {
	content: '';
	position: absolute;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #A8E4A0;
	transform: translate(-50%, -50%);
	visibility: visible;
	left: 50%;
	top: 84%;
}

input[id="urgent"]:checked::after {
	content: '';
	position: absolute;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #FFFF99;
	transform: translate(-50%, -50%);
	visibility: visible;
	left: 50%;
	top: 84%;
}

input[id="instant"]:checked::after {
	content: '';
	position: absolute;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #E2504B;
	transform: translate(-50%, -50%);
	visibility: visible;
	left: 50%;
	top: 84%;
}

.ModalRadioLabel {
	padding-bottom: 6px;
}

.ModalHeaderInput {
	padding: 15px 20px;
	/* background: #B1E7AA; */
	background: #99958c13;
	border-radius: 20px;
}

.ModalDescription {
	display: flex;
	flex-direction: column;
}

.ModalDescriptionInput {
	width: 100%;
	height: 100%;
	border-radius: 20px;
	padding: 15px 20px 30px 20px;
	background: #99958c13;
	word-break: break-all;
	max-width: 500px;
	max-height: 200px;
	height: 23vh;
	width: 39vw;
	resize: none;
	outline: none

}

.ModalAddCard {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}
.ModalAddCard__btn:hover{
	color: #666;
}
@media (max-width:768px) {
	.ModalAdd {
		/* background-color: #FFFFFF;
		width: calc(100% - 20px);
		max-width:none;
		height: calc(100% - 20px);
		max-height: fit-content;
		margin: auto;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		border: 1px solid #000000a9;
		border-radius: 20px;
		padding: 20px; */
	}
	.ModalContentContainer {
		justify-content: space-evenly;
	}
	.ModalRadioInput{
		flex-direction: column;
	}
	.ModalRadioItems{
		/* flex-direction: column; */
		flex-wrap: wrap;
		padding:0;
		/* padding-top: 10px; */
		margin-top: 15px;
	}
	
	.ModalRadioItem{
		width: 50%;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
		padding: 5px 0;
	}

	.ModalContentInputs {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.ModalRadioLabel{
		padding: 0;
		margin: 0 10px 0 0;
		width: 50px;
	}

	.ModalHeader{
		width: 100%;
	}
	.ModalHeaderInput{
		width: 100%;
	}
	.ModalDescription{
		width: 100%;
		margin-bottom: 10px;
	}
	.ModalDescriptionInput {
		width: 100%;
		height: 100%;
		border-radius: 20px;
		padding: 15px 20px 30px 20px;
		background: #99958c13;
		word-break: break-all;
		height: 23vh;
		width: 100%;
		max-width: none;
		max-height: none;
		resize: none;
		outline: none

	}
}
@media (max-width:576px) {
	.ModalRadioInput{
		margin: 5% 0;
		display: flex;
		flex-direction: column;
	}
	.ModalDescription {
		width: 100%;
		margin-bottom: 10px;
	}
	.ModalDescriptionInput {
		width: 100%;
		height: 100%;
		border-radius: 20px;
		padding: 15px 20px 30px 20px;
		background: #99958c13;
		word-break: break-all;
		height: 23vh;
		width: 100%;
		max-width: none;
		max-height: none;
		resize: none;
		outline: none

	}
	.ModalRadioItem {
		flex-direction: row;
		align-items: center;
		width: 45%;
		/* min-width: 100px; */
		justify-content: space-between;
	}
	input[id="normal"]:checked::after {
		content: '';
		position: absolute;
		width: 15px;
		height: 15px;
		border-radius: 50%;
		background-color: #E9E9E9;
		transform: translate(-50%, -50%);
		visibility: visible;
		left: 94%;
		top: 50%;
  
	}
	
	input[id="high"]:checked::after {
		content: '';
		position: absolute;
		width: 15px;
		height: 15px;
		border-radius: 50%;
		background-color: #A8E4A0;
		transform: translate(-50%, -50%);
		visibility: visible;
		left: 94%;
		top: 50%;
  
	}
	
	input[id="urgent"]:checked::after {
		content: '';
		position: absolute;
		width: 15px;
		height: 15px;
		border-radius: 50%;
		background-color: #FFFF99;
		transform: translate(-50%, -50%);
		visibility: visible;
		left: 94%;
		top: 50%;
  
	}
	
	input[id="instant"]:checked::after {
		content: '';
		position: absolute;
		width: 15px;
		height: 15px;
		border-radius: 50%;
		background-color: #E2504B;
		transform: translate(-50%, -50%);
		visibility: visible;
		left: 94%;
		top: 54%;
	}
}
@media (max-height:650px) and (max-width:576px){
	.ModalAdd {
		width: 70vw;
		max-width: 700px;
		top: 40%;
		left: 0;
		bottom: 60%;
		right: 0;
	}
	.ModalRadioInput{
		margin: 1% 0;
		display: flex;
		flex-direction: column;
	}
}

@media (max-height:330px){
	.ModalAdd{
		max-height: calc(100vh - 50px);
		position:static
	}
	.ModalAddCard{
		padding-bottom: 20px;
	}
	.ModalHeaderInput{
		padding: 5px 10px;
	}
	.ModalDescriptionInput{
		padding: 5px 10px;
	}
}
@media (max-width:340px	){
	.ModalAdd{
		position:static;
	}
	.ModalRadioItem{
		flex-direction: column;
	}
}