.CardItem{
	width: 100%;
	min-height: 130px;
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
	position: relative;
}

.CardItemContent {
	width: 100%;
	border: 1px solid #000000a9;
	border-radius: 8px;
	min-height: 130px;
	padding: 15px;
	display: flex;
	flex-direction: column;
	margin-bottom: 15px;
}

.CardItemHeader {
	display: flex;
	justify-content: space-between;
}

.CardItemHeaderContent {
	display: flex;
}
.CardItemHeader{
	max-width: 100%;
	overflow-x: hidden;
}
@keyframes scroll {
	0% {
		transform: translate(20px, 0);
	}
	100% {
		transform: translate(-125%, 0);
	}
}
.CardItemHeaderText{
	max-width: 80%;
}
.active{
	white-space: nowrap;
	animation: scroll 7s infinite linear;
}
.CardItemTools {
	display: flex;
	align-items: center;
	cursor: pointer;
	position: absolute;
    right: 15px;
	 background-color: #FFFFFF;
	 padding: 0 5px;
}
.CardItemEdit{
	transform: rotate(90deg);
}
.CardItem__btn:hover{
	color: #a0a0a0;
}

.CardItemDescription{
	width: 100%;
	padding: 10px 0;
	word-break: break-all;
}

.CardItemBottom {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: auto;
}

.CardItemPriority {
	/* border: 1px solid #000000a9; */
	/* width: 80px; */
	height: 20px;
	border-radius: 20px;
	color: #FFFFFF;
	text-align: center;
	font-size: 13px;	
	padding: 10px 16px;
	max-width: 80px;
	max-height: 20px;
	display: flex;
	align-items: center;
}

.CardItemTransfer {
	display: flex;
	cursor: pointer;
}

.pref {
	margin-right: 3px;
}
@media (max-width:576px) {
	.CardItem{
		margin: 0;
	}
	.CardItemContent{
		min-height: fit-content;
	}
}