.MainContent{
   flex: 1 0 auto;
	height: 1px;
	min-height: 100%;

}
.CardCategory {
	width: 100%;
	display: flex;
	justify-content: space-between;
	height: 1px;
	min-height: 100%;
}
@media (max-width:768px) {
	.MainContent{
		padding: 0 10px;
	}
}
@media (max-width:576px) {
  .CardCategory{
	  flex-direction: column;
	  align-items: center;
	  gap: 0;
  }
}
@media (max-height:650px) and (max-width:576px){
	.MainContent{
		flex: 1 0 auto;
		min-height: 1px;
		height: 100%;
	}
	.CardCategory {
		width: 100%;
		display: flex;
		justify-content: space-between;
		min-height: 100vh;
		height: max-content;
	}
}


