* {
    box-sizing: border-box;
}

.block {
    background: #FFFFFF;
    border-top: 1px solid #000000a9;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
}

.blockText {
    text-align: center;
}